<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.witness.sscphase1"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_ssc">
    	<activity android:name=".SplashScreenActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
        <activity android:name=".CameraObscura"></activity>
        <activity android:name=".PreferencesActivity"></activity>
        <activity android:name=".CameraObscuraMainMenu"></activity>
        <activity android:name=".IdTagger" android:theme="@style/Theme.CustomDialog"></activity>
        <activity android:name=".secure.EncryptTagger" android:theme="@style/Theme.CustomDialog"></activity>
        <activity android:name=".ImageEditor" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <action android:name="android.intent.action.EDIT" />
                 <action android:name="android.intent.action.SEND" />
                 
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.ALTERNATIVE" /> 
                 <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> 
                 
                 <data android:mimeType="image/*" />
             </intent-filter>        
        </activity>
        <service android:enabled="true" android:name=".SSCSensorSucker" />
    </application>
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />  
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    
    <uses-permission android:name="org.thialfihar.android.apg.permission.READ_KEY_DETAILS" />
</manifest> 