<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.witness.sscphase1"
      android:installLocation="auto">

    <uses-permission android:name="android.permission.READ_MEDIA_STORAGE"/>
    
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.VIBRATE" android:maxSdkVersion="18"/>
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_ssc"
        android:largeHeap="true"
        android:name=".App"
        >
        <activity android:label="@string/app_name_label" android:name=".MainActivity"
              android:description="@string/app_description"
              android:configChanges="orientation|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
              >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.witness.securesmartcam.ImageEditor" android:configChanges="orientation|keyboardHidden">
			<intent-filter>
            
			    <action android:name="android.intent.action.EDIT" />
                 <action android:name="android.intent.action.SEND" />
                 
                <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.ALTERNATIVE" /> 
                 <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> 
                 
                 <data android:mimeType="image/*" />
             </intent-filter>        
        </activity>
        
        <activity android:name="org.witness.securesmartcam.ImagePreview" android:label="@string/image_preview" android:configChanges="orientation|keyboardHidden" />
    	<activity android:name="org.witness.informa.InformaEditor" android:theme="@style/Theme.CustomDialog" />
    	
    	<activity android:name="org.witness.ssc.video.VideoEditor"  android:screenOrientation="landscape"  android:configChanges="orientation|keyboardHidden">
    	    <intent-filter>
                 
                 <action android:name="android.intent.action.EDIT" />
                 <action android:name="android.intent.action.SEND" />
                 
                <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.ALTERNATIVE" /> 
                 <category android:name="android.intent.category.SELECTED_ALTERNATIVE" /> 
                 
                 <data android:mimeType="video/*" />
             </intent-filter>
    	    
    	</activity>
       <activity android:name="org.witness.ssc.video.VideoPreferences" />
        <activity
            android:name="org.witness.securesmartcam.AlbumsActivity"
            android:label="@string/title_albums"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="org.witness.securesmartcam.camera_capture"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/camera_capture_paths" />
        </provider>
    </application>
</manifest> 
